extends ../layout
block content
    h1 Search Results
    |     
    p
      a.button(href='/books/new_book') Create New Book     
    |
    form(method="post" action="/books/all_books")
      input.search(type="submit" value="Search")
      input.search(type="text" name="search" placeholder="Search Title, Author, Genre..") 
    |
    p
      | Filters 
      a(href='/books/all_books') All
      |  | 
      a(href='/books/overdue_books') Overdue
      |  | 
      a(href='/books/checked_books') Checked Out
    |
        
    table
      thead
        tr
          th Title
          |                 
          th Author
          |                 
          th Genre
          |                 
          th Year Released
      |         
      tbody
        if results
          each book in results
            tr
              td
                a(href='/books/book_detail/'+book.dataValues.id)= book.dataValues.title
              |                 
              td= book.dataValues.author
              |                 
              td= book.dataValues.genre
              |                 
              td= book.dataValues.first_published